
.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
  }

.total {
  margin-top: 10px;
}

.navigation {
    position: relative;
    background: #ffffff;
    color: #000;
    padding: 15px;
    margin: 20px 1px 1px;
    border-radius: 10px;
    width: 15px;
    height: 5px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navigation.selected {
    background: rgb(20, 146, 3);
    color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .globe {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .globe::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation:hover .globe {
    top: -50px;
    left: -15px;
    opacity: 0.85;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .globe {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .navigation:hover,
  .navigation:hover .globe,
  .navigation:hover .globe::before {
    background: linear-gradient(320deg, rgb(20, 146, 3), rgb(20, 146, 3));
    color: #ffffff;
  }