.recipe-container{
    background-color: white;
    box-shadow: 0 0 2.5rem rgba(0,0,0,0.28);
    border-radius: 10px;
    width: 800px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    justify-content: center;
}

.header{
    width: 350px;
    height: 500px;
    overflow: hidden;
    background: white;
   cursor: default;
    display: grid;
    align-content: space-between;
    border-radius: 10px 0 0 0;
}

.picture-container{
    height: 260px;
    width: auto;   
}

.picture-container img{
    display: block;
    max-width: 100%;
    /* vertical-align: middle; */
    border-style: none;
}

.star-container{
     position: relative;
    /*top: -275px;
    left: 270px;  */
}

.star-container span{
    position: relative;
    top: -37px;
    left:54px;
    color: white;
    font-weight: 600;
}

.star-container img {
    width:60px;
    height:60px;
    margin: 15px;
}

.title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    height: 100px;
    text-align: center;
}
.recipe-info{
    text-align: center;
    padding-bottom: 10px;
}

.diets-list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 750;
    letter-spacing: .03em;
    color: orange;
    padding-bottom: 10px;
}

.recipe-content {
    /* padding: 15px; */
    flex: 4 1 40ch;
    padding-left: 5px
;
}

.diets-list,
.recipe-steps,
.description{
    background-color:rgb(244, 255, 242)
}

.description-title{
    background-color:rgb(20, 146, 3);
    color: white;
    padding-top:5px ;
    padding-bottom: 5px;
    border-radius: 0 5px 0 0;
}