.card{
    width: 300px;
    margin:10px;
    overflow: hidden;
    background: white;
    backdrop-filter: 5px;
    -webkit-backdrop-filter: blur();
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 200ms ease;
    display: grid;
    align-content: space-between;
}

.card:hover{
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    transform: translateY(.5%) translateX(.5%)
}

.starContainer{
    position: relative;
    top: -215px;
    left: 100px;
}

.score{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    position: relative;
    top: -21px;
    left:38px;
    z-index: 2;
    color: white;
    font-weight: 600;
}

.star{
    width:60px;
    height:60px;

} 


.pictureContainer{
    height: 233px;
    width: 300px;
}
.picture{
    display: block;
    max-width: 100%;
    /* vertical-align: middle; */
    border-style: none;

}

.info-container{

}

.info{
 
    text-align: center;
    font-size: larger;
    font-weight: 650;
    color: lightslategray;
    height: 85px;
}

.list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .03em;
    color: orange;
}

.title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    color: black;
    height: 100px;
    text-align: center;
}


.button{
    display: inline-block;
    text-decoration: none;
    background: #089c34 ;
    color: white;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    border: none;
}

.button:hover {
    background: #056822;
}